{{define "panestyle"}}
<style>
  .index {
    text-align: center;
  }

  .index ul.thumbnail-list {
    list-style-type: none;
    padding: 0;
  }
  
  .index ul.thumbnail-list li {
    display: inline;
  }
  
  .index .thumbnail-cntr {
    background-color: #FFFFEE;
    border-style: solid;
    border-width: 2px;
    border-color: #2c1fc0;
    border-radius: 10px;
    display: inline-block;
    height: 192px;
    margin: 6px;
    padding: 0;
    text-align: center;
    width: 192px;
  }
  
  .index .thumbnail-cntr:hover {
    border-color: #9c99bf;
  }
  
  .index img.thumbnail {
    width: 192px;
    height: 192px;
    border-radius: 8px;
  }

  .index img.deleted {
    filter: blur(5px) grayscale(5%);
    -webkit-filter: blur(5px) grayscale(5%);
  }
  
  .index .nav-home {
    text-align: center;
  }
  .index .nav-prev {
    float: left;
  }
  .index .nav-next {
    float: right;
  }
  .index .nav:after {
    clear: both;
    content: "";
    display: block;
  }
</style>
{{end}}
{{define "nav"}}
  {{- $pt := .Paths -}}
  {{- $pr := $pt.Params -}}
  <div class="nav">
    {{if .PrevID}}<span class="nav-prev"><a href="{{$pt.IndexPrev .PrevID}}">Previous</a></span>{{end}}
    {{if .NextID}}<span class="nav-next"><a href="{{$pt.Index .NextID}}">Next</a></span>{{end}}
  </div>
{{end}}
{{define "pane"}}
<div class="index">
  {{ $pt := .Paths}}
  {{- $pr := $pt.Params -}}
  {{- template "nav" . -}}
  {{if .Pic}}
  <ul class="thumbnail-list">
    {{- range .Pic -}}
    <li>{{- /**/ -}}
      <div class="thumbnail-cntr">{{- /**/ -}}
        <a href="{{$pt.Viewer .Pic.Id}}">{{- /**/ -}}
          <img {{/**/ -}}
	          class="thumbnail{{if .Pic.PendingDeletion}} deleted{{end}}" {{/**/ -}}
	          src="{{$pt.PicFileFirst .Thumbnail}}" />{{- /**/ -}}
	      </a>{{- /**/ -}}
      </div>{{- /**/ -}}
    </li>{{- /**/ -}}
    {{- end -}}
  </ul>
  {{end}}
  {{- template "nav" . -}}
</div>
{{if .CanUpload}}
<div style="margin-bottom: 2em; margin-top: 2em;">
  <fieldset>
    <legend>Pic Upload</legend>
    <form action="{{$pt.UpsertPicAction}}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="{{$pr.Xsrf}}" value="{{.XsrfToken}}" />
      <dl>
        <dt style="display:inline-block">File Upload (option 1)</dt>
        <dd style="display:inline-block"><input type="file" name="{{$pr.File}}" /></dd>
      </dl>
      <dl>
        <dt style="display:inline-block">URL Upload (option 2)</dt>
        <dd style="display:inline-block"><input placeholder="File URL" name="{{$pr.Url}}" /></dd>
      </dl>
      <input type="submit" value="Submit" />
    </form>
  </fieldset>
</div>
{{end}}
{{end}}
