{{block "basestyle" .}}
<style>
  .pane {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
  .pane-header {
    margin-top: 6px;
    position: relative;
  }
  .pane-header a {
    text-decoration: none;
  }
  .pane-user-box {
    background-color: white;
    border: 1px solid black;
    float: right;
    padding: 4px;
    position: absolute;
    right: 0%;
  }
  .pane-header .site-name {
    text-align: center;
  }
  .pane-header .site-name h1 {
    display: inline;
  }
  .pane-header .site-name a:link {
    color: #000;
  }
  .pane-header .site-name a:visited {
    color: #000;
  }
  .pane-header .site-name a:hover {
    color: #000;
  }
  .pane .error {
    color: red;
    margin: 1em;
    text-align: center;
  }
</style>  
{{block "panestyle" .}}{{end}}
{{end}}
{{define "body"}}
{{- $pt := .Paths -}}
{{- $pr := $pt.Params -}}
<div class="pane">
  <div class="pane-header">
    <div class="pane-user-box">
      {{if .SubjectUser}}
        <a href="{{"" | $pt.UserEdit}}">{{.SubjectUser.Ident}}</a>
      {{else}}
        <a href="{{$pt.Login}}">Login</a>
      {{end}}
    </div>
    <div class="site-name">
      <a href="{{$pt.Root}}"><h1>{{.SiteName}}</h1></a>
    </div>
  </div>
  {{if .Err}}
    {{- template "error" . -}}
  {{end}}
  {{template "pane" .}}
</div>
{{end}}
{{define "error"}}
<div class="error">
  <strong style="">{{.Err.Error}}{{if .ErrShouldLogin}} - <a href="{{.Paths.Login}}">Login</a>?{{end}}</strong>
</div>
{{end}}

