{{block "basestyle" .}}
<style>
  .pane {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
  .pane-header {
    margin-top: 6px;
    position: relative;
    margin-bottom: 1em;
  }
  .pane-header a {
    text-decoration: none;
  }
  .pane-user-box {
    background-color: white;
    border: 1px solid black;
    float: right;
    padding: 4px;
    position: absolute;
    right: 0%;
  }
  .pane-header .site-name {
    text-align: center;
  }
  .pane-header .site-name h1 {
    display: inline;
  }
  .pane-header .site-name a:link {
    color: #000;
  }
  .pane-header .site-name a:visited {
    color: #000;
  }
  .pane-header .site-name a:hover {
    color: #000;
  }
  .pane .error {
    color: red;
    margin: 1em;
    text-align: center;
  }
  .pane-logged-in-user {
    text-align: right;
  }
  .pane-logged-in-user .dropdown-user-menu {
    display: none;
  }
  .pane-user-box:hover .dropdown-user-menu {
    display: block;
    margin-top: 1em;
  } 
  .pane-user-link:hover {
    background-color: #f7f7f7;
  }
</style>  
{{block "panestyle" .}}{{end}}
{{end}}
{{define "body"}}
{{- $pt := .Paths -}}
{{- $pr := $pt.Params -}}
<div class="pane">
  <div class="pane-header">
    <div class="pane-user-box">
      {{if .SubjectUser}}
        <div class="pane-logged-in-user">
          <div class="pane-user-link">
            <a href="{{$pt.UserEvents "" "" false }}">{{.SubjectUser.Ident}}</a>
          </div>
          <div class="dropdown-user-menu">
            <hr>
            <form action="{{$pt.LoginAction}}" method="post">
              <input type="hidden" name="{{$pr.Logout}}" value="non-empty string" />
              <input type="hidden" name="{{$pr.Xsrf}}" value="{{.XsrfToken}}" />
              <input type="submit" value="Logout" />
            </form>
          </div>
        </div>
      {{else}}
        <a href="{{$pt.Login}}">Login</a>
      {{end}}
    </div>
    <div class="site-name">
      <a href="{{$pt.Root}}"><h1>{{.SiteName}}</h1></a>
    </div>
  </div>
  {{if .Err}}
    {{- template "error" . -}}
  {{end}}
  {{template "pane" .}}
</div>
{{if .NeedAuthRefresh}}
  <iframe src="{{$pt.UserTokenRefresh .XsrfToken}}" width="0" height="0"></iframe>
{{end}}
{{end}}
{{define "error"}}
<div class="error">
  <strong style="">{{.Err.Error}}{{if .ErrShouldLogin}} - <a href="{{.Paths.Login}}">Login</a>?{{end}}</strong>
</div>
{{end}}

