{{- define "userpanestyle" -}}
<style>

</style>
{{- end -}}
{{define "userpane"}}
{{- $pt := .Paths -}}
{{- $pr := $pt.Params -}}
<div>
  <h2>User Edit</h2>
  <form method="post" action="{{$pt.UpdateUserAction}}">
    <input type="hidden" name="{{$pr.Xsrf}}" value="{{.XsrfToken}}">
    <input type="hidden" name="{{$pr.UserId}}" value="{{.ObjectUser.UserId}}">
    <input type="hidden" name="{{$pr.Version}}" value="{{.ObjectUser.Version}}">
  <dl>
    <dt>Ident</dt>
    <dd>{{ .ObjectUser.Ident }}</dd>
    <dt>Created</dt>
    <dd>{{ .ObjectUser.CreatedTime }}</dd>
    <fieldset>
      <legend>Capabilities</legend>
      <div style="display: table">
      {{- $canedit := .CanEditCap -}}
      {{ range .Cap }}
        <input 
            type="hidden" 
            name="{{.Cap | $pr.OldUserCapability}}" 
            value="{{if .Has}}{{$pr.True}}{{else}}{{$pr.False}}{{end}}"
            {{if not $canedit}}disabled{{end}}>
        <div style="display:table-row">
          <div style="display:table-cell">{{.Cap}}</div>
          <div style="display:table-cell">
            <label for="{{.Cap | $pr.NewUserCapability}}-yes">Yes<label>
            <input 
                type="radio"
                id="{{.Cap | $pr.NewUserCapability}}-yes" 
                name="{{.Cap | $pr.NewUserCapability}}" 
                value="{{$pr.True}}"
                {{if not $canedit}}disabled{{end}}
                {{if .Has}}checked{{end}}>
          </div>
          <div style="display:table-cell">
            <label for="{{.Cap | $pr.NewUserCapability}}-no">No<label>
              <input 
                  type="radio"
                  id="{{.Cap | $pr.NewUserCapability}}-no" 
                  name="{{.Cap | $pr.NewUserCapability}}" 
                  value="{{$pr.False}}"
                  {{if not $canedit}}disabled{{end}}
                  {{if not .Has}}checked{{end}}>
          </div>
        </div>
      {{ end }}
      </div>
    </fieldset>
  </dl>
  <input type="submit" {{if not $canedit}}disabled{{end}}>
  </form>
</div>
{{end}}
