{{- define "style" -}}
<style>
  .viewer .thepic, .viewer .thevideo {
    height: auto;
    max-width: 100%;
    width: auto;
  }
  .viewer .votebutton {
    padding: 0 .5cm 0 .5cm;
  }
  .votebar form {
    display: inline;
  }
</style>
{{- end -}}
{{define "body"}}
{{- $pt := .Paths -}}
{{- $pr := .Params -}}
<div class="viewer">
  <div>
    {{if ne .Pic.Type "WEBM"}}
    <a href="{{$pt.Pic .Pic.RelativeUrl}}" target="_self">{{- /**/ -}}
      <img class="thepic" src="{{$pt.Pic .Pic.RelativeUrl}}" />
      {{- /**/ -}}
    </a>
    {{else}}
    <video
        class="thevideo"
        src="{{$pt.Pic .Pic.RelativeUrl}}"
        loop
        muted
        autoplay
        controls>
      Your browser does not support the video tag.
    </video>
    {{end}}
  </div>
  <div class="votebar">
    <form action="{{$pt.VoteAction}}" method="post">
      <input type="hidden" name="{{$pr.Xsrf}}" value="{{.XsrfToken}}" />
      <input type="hidden" name="{{$pr.Vote}}" value="DOWN" />
      <input type="hidden" name="{{$pr.PicId}}" value="{{.Pic.Id}}" />
      <input type="hidden" name="{{$pr.Next}}" value="{{$pt.Viewer .Pic.Id}}" />
      <input type="submit" value="▼" class="votebutton" />
    </form>
    <form action="{{$pt.VoteAction}}" method="post">
      <input type="hidden" name="{{$pr.Xsrf}}" value="{{.XsrfToken}}" />
      <input type="hidden" name="{{$pr.Vote}}" value="NEUTRAL" />
      <input type="hidden" name="{{$pr.PicId}}" value="{{.Pic.Id}}" />
      <input type="hidden" name="{{$pr.Next}}" value="{{$pt.Viewer .Pic.Id}}" />
      <input type="submit" value="meh" class="votebutton" />
    </form>
    <form action="{{$pt.VoteAction}}" method="post">
      <input type="hidden" name="{{$pr.Xsrf}}" value="{{.XsrfToken}}" />
      <input type="hidden" name="{{$pr.Vote}}" value="UP" />
      <input type="hidden" name="{{$pr.PicId}}" value="{{.Pic.Id}}" />
      <input type="hidden" name="{{$pr.Next}}" value="{{$pt.Viewer .Pic.Id}}" />
      <input type="submit" value="▲" class="votebutton" />
    </form>
  </div>
  {{ .Pic }}
  <br>
  {{template "commentreply" .PicComment}}
  {{template "comment" .PicComment.Child}}
<div>
{{end}}
{{define "comment"}}
  <ul>
	    {{- range . -}}
	    {{- $pt := .Paths -}}
	    {{- $pr := .Params -}}
	    <li>
	      <div id="{{($pt.ViewerComment .PicId .CommentId).Fragment}}">
	      	{{.CommentId}}: {{.Text}}
	      </div>
	      <a href="{{$pt.CommentReply .PicId .CommentId}}">Reply</a>
	      {{if .Child}}{{template "comment" .Child}}{{end}}
	    </li>
	    {{- end -}}
  </ul>
{{end}}
