<div class="index">
  <div ng-if="ctrl.pics.length > 0">
    <span style="text-align: center"><a ng-href="/">Home</a></span>
    <span style="float:left"><a ng-show="ctrl.prevPageID" ng-href="{{'i/' + ctrl.prevPageID}}">Previous</a></span>
    <span style="float:right"><a ng-show="ctrl.nextPageID" ng-href="{{'i/' + ctrl.nextPageID}}">Next</a></span>
    <span style="clear:both">&nbsp;</span>
  </div>
  <ul class="thumbnail-list">
    <li ng-repeat="pic in ctrl.pics">
      <div class="thumbnail-cntr">
        <a ng-href="p/{{pic.id}}"><img 
          class="thumbnail"
          ng-class="{deleted: pic.pendingDeletion}" 
          ng-src="{{pic.thumbnailRelativeUrl}}" /></a>
      </div>
    </li>
  </ul>
  <span style="float:left"><a ng-show="ctrl.prevPageID" ng-href="{{'i/' + ctrl.prevPageID}}">Previous</a></span>
  <span style="float:right"><a ng-show="ctrl.nextPageID" ng-href="{{'i/' + ctrl.nextPageID}}">Next</a></span>
  <span style="clear:both"></span>
  <input type="file" name="file" onchange="angular.element(this).controller().fileChange(this)" /><br />
  <input placeholder="File URL" name="url" ng-model="ctrl.upload.url"  /><br />
  <input type="button" value="submit" ng-click="ctrl.createPic()" />
  <br />
  <span ng-show="ctrl.auth">Logged in as {{ctrl.auth.ident}}</span>
  <span ng-hide="ctrl.auth"><a ng-href="u/login">Login / Join</a></span>
</div>
