<div>
  Create:<br />
  <form>
    <input ng-model="ctrl.createIdent" placeholder="Email" /><br />
    <input ng-model="ctrl.createSecret" placeholder="Password" /><br />
    <input type="button" ng-click="ctrl.createUser()" value="Create User" />
  </form>
  <br>
  Login:<br />
  <form>
    <input ng-model="ctrl.loginIdent" placeholder="Email" /><br />
    <input ng-model="ctrl.loginSecret" placeholder="Password" /><br />
    <input type="button" ng-click="ctrl.loginUser()" value="Login" />
  </form>
</div>
<div>
  <span ng-if="ctrl.errorText">{{ctrl.errorText}}</span>
</div>
