<div class="viewer">
  <div ng-if="ctrl.isImage">
    <a ng-href="{{ctrl.pic.relativeUrl}}" target="_self"><img 
      ng-src="{{ctrl.pic.relativeUrl}}" 
      style="width: auto; height: auto; max-width: 100%"
      
      /></a>
  </div>
  <!-- TODO make this work on mobile -->
  <div ng-if="ctrl.isVideo">
    <video 
        style="width: auto; height: auto; max-width: 100%" 
        ng-src="{{ctrl.pic.relativeUrl}}" 
        loop
        muted
        autoplay
        controls>
      Your browser does not support the video tag.
    </video> 
  </div>
  <div>
    <input type="button" value="▼" style="padding: 0 .5cm 0 .5cm;" ng-click="ctrl.voteDown()" /><!--
    --><input type="button" value="meh" style="padding: 0 .5cm 0 .5cm;" ng-click="ctrl.voteNeutral()" /><!--
    --><input type="button" value="▲" style="padding: 0 .5cm 0 .5cm;" ng-click="ctrl.voteUp()" />
  </div>
  <div ng-show="ctrl.pic.pendingDeletion">This pic is pending deletion</div>
  <ul>
    <li ng-repeat="picTag in ctrl.picTags">{{picTag.name}}<br></li>
  </ul>
  <input type="text" ng-model="ctrl.topcomment" />
  <br />
  <input type="button" value="Add Comment" ng-click="ctrl.addComment(null, ctrl.topcomment)" />
  <br />
  
	<script type="text/ng-template" id="comment_tree.html">
		  <div>
		  	{{com.commentId}}: {{com.text}}
		  </div>
		  <a ng-hide="com.show" ng-click="com.show = !com.show" href="#">Reply</a>
		  <div ng-show="com.show">
		  	<textarea type="text" ng-model="com.replyText"></textarea>
		  	<br />
		  	<input type="button" value="Reply" ng-click="ctrl.addComment(com, com.replyText)" />
		  	<input type="button" value="Cancel" ng-click="com.show = !com.show" />
		  	<br />
		  </div>
		  <br /><br />
		  <ul>
		      <li ng-repeat="com in com.children" ng-include="'comment_tree.html'"></li>
		  </ul>
	</script>

	<ul>
		  <li ng-repeat="com in ctrl.picComments" ng-include="'comment_tree.html'"></li>
	</ul>
  <br />
  
  <a href="#" onclick="window.history.back()">Back</a>
  <br><br>
  <input type="checkbox" ng-model="ctrl.canDelete">
  <input type="button" ng-click="ctrl.deletePic()" ng-disabled="!ctrl.canDelete" value="Delete">
</div>
